<!--/views/edit.erb-->

<form action="/<%= params[:filename] %>" method="post">
  <h2>Edit content of <%= params[:filename] %>:</h2> <!-- Header -->
  
  <div>
    <textarea name="content"> <%= @content %> </textarea> <!-- Text box -->
  </div>
  
  <button type="submit">Save</button> <!-- Submission button -->
</form>