<!--/views/new.erb-->

<form action="/create" method="post">

  <label>Add a new document</label>
  
    <div>
      <input name="filename" placeholder="filename.txt"></input>
      <button type="submit">Create</button>
      <a href="/">Cancel</>
    </div>
    

</form>